 *{
  font-family: 'calibri';
  /*border: 2px solid black;*/

 }
body{
  background-image: url("images/carro4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
label{
  color:white;
}
h1{
  color: white;
  background-color: gray; 
}
p{
  color: white;
}
.xd{
  padding: 2em;
  width: 28%;
  float:left;
  position:relative;
  height: 350px; 
} 
.contenedor{
  background-color: gray;
  position: relative;
  height: 470px;
}
.xd select,input{
  width: 100%
  

 /* Add a black background color to the top navigation bar */
}
.navegador {
  overflow: hidden;
  background-color: gray;
}

/* Style the links inside the navigation bar */
.navegador a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navegador a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.navegador a.active {
  background-color: red;
  color: white;
}

/* Style the search box inside the navigation bar */
.navegador input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .navegador a, .navegador input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navegador input[type=text] {
    border: 1px solid #ccc;
  }
}